/* HTML Elements */
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Classes */

.extension_header {
    width: auto;
}

.panel {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 15px;
}

.panel_control {
    height: 20px;
    padding: 10px;
    margin: 0px;    
}

.panel_heading {
    font-variant: small-caps;
    margin-bottom: 10px; 
    display: inline-block;
}

.panel_help {
    font-size: 10pt;
    margin-top: 5px;
}

.sub_panel {
    background-color: #FFF;
    border: 1px solid #ccc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;    
    flex-grow: 1;
}

.sub_panel_header {
    font-variant-caps:all-petite-caps;
    font-weight: bold;
    background: linear-gradient(145deg,rgba(216, 247, 251, 1) 0%, rgba(225, 242, 231, 1) 30%, rgba(233, 236, 210, 1) 60%, rgba(255, 255, 255, 1) 97%);
    border-bottom: 1px solid #ccc;
    padding: 10px;
    padding-left: 20px;
    flex: 1;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;        
}

.sub_panel_help {    
    background-color: transparent;
    font-style:italic;
    font-size: 10pt;
    padding-left: 10px
}

.sub_panel_setting {
    padding: 10px;
    background-color: #F3F3F3;
}

.sub_panel_method {
    padding-top: 10px;
    font-size: 12pt;
    font-weight: bold;
}

code {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: calc(100% - 40px); 
}

.gradient {
    background: linear-gradient(342deg,rgba(216, 247, 251, 1) 0%, rgba(225, 242, 231, 1) 50%, rgba(233, 236, 210, 1) 100%);
}

.input {
    border: 1px solid #eee;
    width: calc(100% - 20px); 
    box-sizing: border-box;
    display: flex;
    min-width: 500px;
    margin: 10px;
    padding: 10px;
    color: #aaa;    
    font-size: 9pt;
    font-weight: bold;
    color: #444;
    border-radius: 5px;
}

.env_button {
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 8px;
    font-size: 8pt;
    margin-right: 5px;
    display: inline-block;
    color: #444;   
    background-color: #fff; 
}

.env_button:hover {
    background-color: #E2F1E3;
    color: #444;
    cursor: pointer;
}
  
.extra_bottom_margin {
    margin-bottom: 20px;
}

.extra_top_margin {
    margin-top: 20px;
}